.div-direccion{
    display: flex;
}

.input-direccion{
    margin-right: 10px;
}

.contenedor-datos-profesionales{
    margin-top: 100px !important;

}
.contenedor-documentacion-profesional{
    margin-top: 28px !important;
}

.buton-registrar{
    background-color: var(--principal-color_2);
    margin: 20px;
    width: 50%;
    border-radius: 10PX;
    padding: 10PX;

}